* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Elimina los botones de arriba y abajo en los input de numero */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}